/*benefits*/
.app-benefits-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 56px;
}

.app-benefits {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px;
        width: 432px;
        max-width: 33%;
        height: 618px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

        &--middle {
            min-height: 706px;
        }

        &__wrapp-img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 65%;
        }

        &__img {
            max-height: 224px;
            max-width: 100%;
        }

        &__title {
            font-size: 32px;
            font-weight: 700;
            color: #242424;
        }

        &__text {
            margin-top: 16px;
            font-size: 16px;
            line-height: 24px;
            color: #6F6F6F;
        }

        &__steps-box {
            display: flex;
            align-items: center;
            margin-top: 16px;
            padding: 8px 16px;
            border-radius: 8px;
            background-color: #F8F8F8;

            &__text {
                margin: 0 0 0 16px;
                font-size: 16px;
                color: #242424;
            }
        }
    }
}

@media (max-width: 950px) {
    .app-benefits {
        flex-direction: column;
        z-index: 3;

        &__item {
            width: 100%;
            max-width: 100%;
            min-height: 100%;
            height: 100%;
            margin-bottom: 16px;

            &--middle {
                order: -1;
            }

            &__img {
                margin: 48px auto;
            }
        }
    }
}

@media (max-width: 720px) {
    .app-benefits-container {
        padding: 0 16px;
    }

    .app-benefits {
        top: -157px;

        &__item {
            padding: 40px 24px;

            &__img {
                margin: 16px 0 48px 0;
                max-width: 90%;
            }

            &__title {
                font-size: 24px;
            }
        }
    }
}
