/* footer */
.app-footer {
    background: linear-gradient(90.39deg, #FFE1CC -3.56%, #FBC8D4 127.71%);
}

.app-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 72px 56px;
    max-width: 1440px;

    &__logo {
        margin-bottom: 24px;
        width: 100px;
    }

    &__text {
        margin: 0 0 24px;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        color: #000;
    }

    &__text br {
        display: none;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        width: 421px;
    }

    &__btn {
        display: none;
        justify-content: center;
        align-items: center;
        padding: 8px;
        width: 100%;
        color: #fff;
        font-size: 16px;
        background-color: #000;
        border-radius: 4px;
        border: none;
    }

    &__btn-link {
        width: 100%;
    }

    &__btn-arrow {
        padding-right: 14px;
    }
}

@media (max-width: 720px) {
    .app-footer {
        background: linear-gradient(100.52deg, #FBC8D4 9.45%, #FFE1CC 77.87%);
    }
    
    .app-footer-container {
        padding: 40px 16px;
        &__logo {
            width: 58px;
        }

        &__text {
            font-size: 24px;
            line-height: 32px;
        }

        &__text br {
            display: block;
        }

        &__icons {
            display: none;
        }

        &__btn {
            display: flex;
        }
    }
}

