/*more benefits*/
.app-more-benefits {
    margin: 0 auto;
    padding: 56px;
    max-width: 1440px;

    &__title {
        margin-bottom: 32px;
        font-size: 32px;
        font-weight: 700;
        color: #242424;
    }

    &__boxes {
        display: flex;
        justify-content: space-between;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 36px 16px 16px;
            width: 208px;
            max-width: 16%;
            min-height: 168px;
            border-radius: 8px;
            border: 1px solid #E7E7E7;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
            overflow: hidden;
        }

        &__item-text {
            margin-top: 24px;
            max-width: 95%;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #242424;

            &--mobile {
                display: none;
            }
        }
    }
}

@media (max-width: 950px) {
    .app-more-benefits {
        padding-top: 50px;
        padding-bottom: 0;
        margin-bottom: 16px;
        &__boxes {
            flex-direction: column;
            width: 100%;
            
            &__item {
                flex-direction: row;
                justify-content: flex-start;
                margin-bottom: 16px;
                padding: 16px;
                max-width: 100%;
                width: 100%;
                height: 64px;
                min-height: 64px;
            }

            &__item-text br {
                display: none;
            }

            &__item-text {
                margin: 0 0 0 22px;
                width: 100%;
                text-align: left;

                &--desktop {
                    display: none;
                }

                &--mobile {
                    display: flex;
                }
            }
        }
    }
}

@media (max-width: 720px) {
    .app-more-benefits {
        margin-top: -134px;
        padding: 16px;

        &__title {
            margin-bottom: 16px;
            font-size: 24px;
        }
    }
}