// CSS Custom Properties
:root {
    --color-black: #000;
    --color-white: #fff;

    --color-grey-body: #F1F3F7;

    --color-blue-premium: #2C31EE;
    --color-yellow-premium: #FFDB69;

    --color-orange-add-to-cart: #FC7C41;
    --color-orange-price: #FF6B00;

    --color-red-promo-label: #EC0044;

    --color-blue-empik-go: #00C5CF;

    --color-green-music: #A0D035;
}

// SASS variables
// $black: #000;
// $white: #fff;

// $grey-body: #F1F3F7;

// $blue-premium: #2C31EE;
// $yellow-premium: #FFDB69;

// $orange-add-to-cart: #FC7C41;
// $orange-price: #FF6B00;

// $red-promo-label: #EC0044;

// $blue-empik-go: #00C5CF;

// $green-music: #A0D035;